<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<button id="btnGonder">Gönder</button>

<script>
    $("#btnGonder").click(() => {
        $.post("https://localhost:5001/product/ajax", { a:"a data", b:"b data" }); // Buradan QueryString veya Route değerlerinide gönderip action metodunda yakalayabiliriz.
    });
</script>