<html>
    <head>

    </head>
    <body>
        Layout
        <br />
        @RenderSection("solmenu", false) <!--Eğer zorunlu olarak kullanılmasını istemiyorsak false göndeririz.-->
        <br />
        @RenderBody()
        <br />
        Layout
    </body>
</html>